<div id="wrapper">
    <div id="left">
      <div id="signin">
        <div class="logo">
          <img src="assets/username.webp" alt="Sluralpright" />
          <div><h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b> Welcome User</b></h4></div>
         </div>
         <form>
           <div>
            <label>User Name</label>
            <input type="text" placeholder="User Name" name="userName" class="text-input" [(ngModel)]="login.userName"/>
           </div>
           <div>
             <label>Password</label>
             <input type="password" placeholder="Password" class="text-input" name="password"  [(ngModel)]="login.password" />
           </div>
            <button type="submit" class="primary-btn" (click)="onLogin()">Login</button>
            <button type="submit" class="secondary-btn" (click)="onBack()">Back</button>
          </form>
      </div>
    </div>
</div>