.change:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

#background-video {
    border: solid 1px black;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.modal-title {
    text-align: center;
    width: 100%;
}