<!-- <div class="container">
    <button type="button" class="btn btn-primary" [routerLink]="['/','external','validateNft']">Validate NFT</button><br><br>
    <button type="button" class="btn btn-primary" [routerLink]="['/','home']" >Log Out</button>
</div> -->


<div id="background-video" style="background-color:#010f1d ;">
    <div class="row">
        <div class="col-lg-6" >
            <div class="allign" >
                <img src="assets/Exp.png" alt="" style="width: 25%;">
                <img src="assets/Data.png" alt="" style="width: 25%;">
                <img src="assets/Quality.png" alt="" style="width: 25%;">
            </div>
            <div class="middle">
                <img src="assets/Platform.png" alt="" style="width:25% ;" >
                <img src="assets/Cloud.png" alt="" style="width:25% ;">
                <img src="assets/Health.png" alt="" style="width: 25%;">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container">
                <button type="button" class="btn btn-primary" [routerLink]="['/','external','validateNft']">Validate NFT</button><br><br>
                <button type="button" class="btn btn-primary" [routerLink]="['/','home']" >Log Out</button>
            </div>
        </div>
    </div>
</div>