<div>
  <video autoplay="autoplay" muted loop  infinte id="background-video">
    <source src="assets/video/comp.webm" type="video/webm">
  </video>
  <div><a href="" style="color: white; text-decoration:none ;"><h1  class="top">COLLABERA®</h1></a></div>
  <div><img src="assets/final.png" alt="" style="margin-top: 100px; width:50% ; height: 50%; margin-left: 50px;"></div>
  <div>
    <div class="container">
      <button type="button" class="btn btn-primary" [routerLink]="['/','admin','adminlogin']">Login as Admin</button><br><br>
      <button type="button" class="btn btn-primary"[routerLink]="['/','user','userLogin']" >Login as User</button><br><br>
      <button type="button" class="btn btn-primary" [routerLink]="['/','external','externalLogin']">External User</button>
  </div>
</div>
</div>
