<div>
    <div class="container">
    <button type="button" class="btn btn-primary" [routerLink]="['/','admin','adminlogin']">Login as Admin</button><br><br>
    <button type="button" class="btn btn-primary"[routerLink]="['/','user','userLogin']">Login as User</button><br><br>
    <button type="button" class="btn btn-primary" [routerLink]="['/','external','externalLogin']">External User</button>
  </div>
</div>
<!-- <div>
  <video autoplay muted loop infinte width="100%" height="10%">
    <source src="assets/video/connect.webm" type="video/webm">
  </video>
</div> -->