<div class="row">
    <div class="col-md-8 col-xl-6 mx-auto ">
        <form [formGroup]="validateNft">
            <div class="card mt-1">
                <div class="card-header text-center bg-success text-white">
                    <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Issue NFT</h4>
                </div>
                <div class="card-body">
                    <div class="form-group form-row">
                        <label for="userName" class="col-md-4 col-form-label">User Name:</label>
                        <div class="col-md-8">
                            <input type="text" name="userName" id="userName" placeholder="User Name" class="form-control" formControlName="userName" [ngClass]="{
                            'is-invalid': validateNft.get('userName').invalid && (validateNft.get('userName').dirty || validateNft.get('userName').touched || validateNft.submitted),
                            'is-valid': validateNft.get('userName').valid && (validateNft.get('userName').dirty || validateNft.get('userName').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('userName').invalid && (validateNft.get('userName').dirty || validateNft.get('userName').touched || validateNft.submitted) && validateNft.get('userName').errors?.required">User name can't be blank</span>
                        </div>
                    </div>
  
                    <div class="form-group form-row">
                        <label for="fName" class="col-md-4 col-form-label">First Name:</label>
                        <div class="col-md-8">
                            <input type="text" name="fName" id="lName" placeholder="First Name" class="form-control" formControlName="fName" [ngClass]="{
                            'is-invalid': validateNft.get('fName').invalid && (validateNft.get('fName').dirty || validateNft.get('fName').touched || validateNft.submitted),
                            'is-valid': validateNft.get('fName').valid && (validateNft.get('fName').dirty || validateNft.get('fName').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('fName').invalid && (validateNft.get('fName').dirty || validateNft.get('fName').touched || validateNft.submitted) && validateNft.get('fName').errors?.required">First name can't be blank</span>
                        </div>
                    </div>
  
                    <div class="form-group form-row">
                        <label for="lName" class="col-md-4 col-form-label">Last Name:</label>
                        <div class="col-md-8">
                            <input type="text" name="lName" id="lName" placeholder="Last Name" class="form-control" formControlName="lName" [ngClass]="{
                            'is-invalid': validateNft.get('lName').invalid && (validateNft.get('lName').dirty || validateNft.get('lName').touched || validateNft.submitted),
                            'is-valid': validateNft.get('lName').valid && (validateNft.get('lName').dirty || validateNft.get('lName').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('lName').invalid && (validateNft.get('lName').dirty || validateNft.get('lName').touched || validateNft.submitted) && validateNft.get('lName').errors?.required">Last name can't be blank</span>
                        </div>
                    </div>
  
                    <div class="form-group form-row">
                        <label for="circleName" class="col-md-4 col-form-label">Circle Name :</label>
                        <div class="col-md-8">
                            <input type="text" name="circleName" id="circleName" placeholder="Circle Name" class="form-control" formControlName="circleName" [ngClass]="{
                            'is-invalid': validateNft.get('circleName').invalid && (validateNft.get('circleName').dirty || validateNft.get('circleName').touched || validateNft.submitted),
                            'is-valid': validateNft.get('circleName').valid && (validateNft.get('circleName').dirty || validateNft.get('circleName').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('circleName').invalid && (validateNft.get('circleName').dirty || validateNft.get('circleName').touched || validateNft.submitted) && validateNft.get('circleName').errors?.required">Circle name can't be blank</span>
                        </div>
                    </div>


                    <div class="form-group form-row">
                        <label for="masteryLevel" class="col-md-4 col-form-label">Mastery Level :</label>
                        <div class="col-md-8">
                            <input type="text" name="masteryLevel" id="masteryLevel" placeholder="MasteryLevel" class="form-control" formControlName="masteryLevel" [ngClass]="{
                            'is-invalid': validateNft.get('masteryLevel').invalid && (validateNft.get('masteryLevel').dirty || validateNft.get('masteryLevel').touched || validateNft.submitted),
                            'is-valid': validateNft.get('masteryLevel').valid && (validateNft.get('masteryLevel').dirty || validateNft.get('masteryLevel').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('masteryLevel').invalid && (validateNft.get('masteryLevel').dirty || validateNft.get('masteryLevel').touched || validateNft.submitted) && validateNft.get('masteryLevel').errors?.required">Mastery Level can't be blank</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label for="expiryDate" class="col-md-4 col-form-label">Expiry Date :</label>
                        <div class="col-md-8">
                            <input type="date" name="expiryDate" id="expiryDate" placeholder="Expiry Date" class="form-control" formControlName="expiryDate" [ngClass]="{
                            'is-invalid': validateNft.get('expiryDate').invalid && (validateNft.get('expiryDate').dirty || validateNft.get('expiryDate').touched || validateNft.submitted),
                            'is-valid': validateNft.get('expiryDate').valid && (validateNft.get('expiryDate').dirty || validateNft.get('expiryDate').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('expiryDate').invalid && (validateNft.get('expiryDate').dirty || validateNft.get('expiryDate').touched || validateNft.submitted) && validateNft.get('expiryDate').errors?.required">Expiry Date can't be blank</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label for="emailId" class="col-md-4 col-form-label">Email ID :</label>
                        <div class="col-md-8">
                            <input type="text" name="emailId" id="emailId" placeholder="Email Id" class="form-control" formControlName="emailId" [ngClass]="{
                            'is-invalid': validateNft.get('emailId').invalid && (validateNft.get('emailId').dirty || validateNft.get('emailId').touched || validateNft.submitted),
                            'is-valid': validateNft.get('emailId').valid && (validateNft.get('emailId').dirty || validateNft.get('emailId').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('emailId').invalid && (validateNft.get('emailId').dirty || validateNft.get('emailId').touched || validateNft.submitted) && validateNft.get('emailId').errors?.required">Email ID name can't be blank</span>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <label for="url" class="col-md-4 col-form-label">URL:</label>
                        <div class="col-md-8">
                            <input type="text" name="url" id="url" placeholder="URL" class="form-control" formControlName="url" [ngClass]="{
                            'is-invalid': validateNft.get('url').invalid && (validateNft.get('url').dirty || validateNft.get('url').touched || validateNft.submitted),
                            'is-valid': validateNft.get('url').valid && (validateNft.get('url').dirty || validateNft.get('url').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('url').invalid && (validateNft.get('url').dirty || validateNft.get('url').touched || validateNft.submitted) && validateNft.get('url').errors?.required">URL can't be blank</span>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <label for="nftId" class="col-md-4 col-form-label">NFT ID:</label>
                        <div class="col-md-8">
                            <input type="text" name="nftId" id="nftId" placeholder="Nft Id" class="form-control" formControlName="nftId" [ngClass]="{
                            'is-invalid': validateNft.get('nftId').invalid && (validateNft.get('nftId').dirty || validateNft.get('nftId').touched || validateNft.submitted),
                            'is-valid': validateNft.get('nftId').valid && (validateNft.get('nftId').dirty || validateNft.get('nftId').touched || validateNft.submitted) }">
                            <span class="text-danger" *ngIf="validateNft.get('nftId').invalid && (validateNft.get('nftId').dirty || validateNft.get('nftId').touched || validateNft.submitted) && validateNft.get('nftId').errors?.required">Nft Id can't be blank</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-right" data-toggle="modal"
                    data-target="#viewModal" (click)="onIssueNftClick($event)" >Issue NFT</button>
                </div>
            </div>     
      </form>
    </div>
</div>



<form>
    <div class="modal" role="dialog" id="viewModal">
      <div class="modal-dialog ">
        <div class="modal-content" style="width: 700px">
          <div class="modal-body">
              <h1>is a {{result}} NFT</h1>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>

<div class="btn btn-warning" (click)="onBack()">Back</div>