#background-video {
    border: solid 1px black;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color:#010f1d ;
    overflow-y:hidden;
    overflow-x: hidden;
    padding-bottom: 50px;

  }
.scroll {
  max-height: 1000px;
  overflow-y: auto;
}

.pop:hover{
    transform: scale(1.5);
    transition: transform .5s;
}