body {
    background-color: gray;
}
.btn-primary{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    float: centre;
    font-weight: bolder;
}
.container {
    background-position: absolute;
    background-color:transparent;
    float: centre;
    padding-top: 70px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 50px;
    width: 400px;
    height: 400px;
    margin-top: 20%;
    border-radius: 30px;
}
#background-video {
    border: solid 1px black;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.allign{
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-top: 150px;
}

.middle{
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-top: 80px;
}